
config settings 'settings'
	option gateway_connmax '50'
	option gatewayport '2060'
	option check_interval '60'
	option client_timeout '5'
	option wifidog_enable '0'
	option deamo_enable '1'
	option gateway_interface 'br-lan'
	option gateway_host '10.10.10.254'
	option gateway_httpport '81'
	option offline_enable '1'
	option gateway_path '/'
	option client_time_limit '60'


